@import 'base/general';
@import 'base/fonts';
@import 'helpers/variables';
@import 'helpers/smart-grid';

.wrapper {
  @include wrapper();
}

body {
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  background-color: #fff;
  overflow-x: hidden;
}